* {
  padding: 0;
  margin: 0;
}
/* For WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #242424; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Scrollbar thumb color */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 3px solid #242424; /* Space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Scrollbar thumb color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #242424;
}

body {
  /* background-color: black;
    color: white; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: white;
}
.invert {
  filter: invert(1);
}
.border {
  border: 2px solid black;
}
.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 25vw;
  background-color: #121212;
  padding: 20px;
}
.right {
  width: 75vw;
  height: 100vh;
  position: relative;
}

.left .logo {
  margin-left: 8px;
  margin-top: 8px;
}
.home .home-container {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
}
.home .home-container .icon {
  margin-top: 8px;
  margin-left: 8px;
  width: 20px;
  color: #b3b3b3;
}
.home .home-container .text {
  margin-top: 8px;
  margin-left: 12px;
  font-weight: 700;
  color: #b3b3b3;
}
.home .search-container {
  display: flex;
}
.home .search-container .search-icon {
  margin-top: 8px;
  margin-left: 8px;
  width: 20px;
}
.home .search-container .search-text {
  margin-top: 8px;
  margin-left: 12px;
  font-weight: 700;
  color: #b3b3b3;
}
.library {
  margin-top: 30px;
}
.library .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 13px;
}

.library .box-container {
  max-height: 200px;
  overflow: scroll;
}
.library .top p {
  color: white;
  margin-left: -12rem;
  color: #b3b3b3;
}
.library .top img {
  width: 20px;
}
.library .box1 {
  margin-top: 30px;
  border-radius: 5px;
  margin-left: 2px;
  background-color: #242424;
  max-width: 340px;
  height: 160px;
}
.library .box1 .heading,
.para {
  color: white;
  padding-left: 14px;
  padding-top: 14px;
  font-weight: 700;
}
.library .box1 button {
  margin-top: 20px;
  margin-left: 14px;
  color: black;
  border: none;
  padding: 6px 14px;
  font-weight: 700;
  border-radius: 13px;
}
.bottom div {
  width: 220px;
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.bottom div p {
  font-size: 7px;
  color: #b3b3b3;
}
.bottom .language {
  margin-top: 20px;
  margin-left: 8px;
}
.bottom .language button {
  display: flex;
  background-color: transparent;
  color: white;
  font-size: 7px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.bottom .language button img {
  width: 8px;
}
.right {
  background-color: #121212;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header .nav {
  padding: 25px;
}
.header .buttons {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.header .buttons .login {
  font-weight: 700;
  padding: 17px 30px;
  color: rgb(0, 0, 0);
  border-radius: 50px; /* Adjust border radius to control the roundness */
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header .buttons .signup {
  font-weight: 700;
  background-color: transparent;
  color: gray;
  padding: 17px 25px;
  border: 2px solid transparent; /* Ensure all borders are transparent */
  border-radius: 50px; /* Adjust border radius to control the roundness */
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header .buttons .signup:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Light background color on hover */
  color: white; /* Change text color on hover */
  font-size: 17px;
}

.header .buttons .login:hover {
  padding: 18px 32px;
  font-weight: 700;
}
.playlists {
  padding-left: 20px;
}
.playlists h1 {
  color: white;
}

.playlists .card-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow: scroll;
}
.playlists .card-container .card {
  margin: 10px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #242424;
  position: relative;
  transition: all 0.3s ease;
}
.playlists .card-container .card h2 {
  font-size: 13px;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  position: absolute;
  top: 200px; /* Start position off-screen */
  right: 19px;
  opacity: 0;
  transition: all 0.3s ease;
}

.playlists .card-container .card:hover .play {
  top: 160px; /* End position on-screen */
  opacity: 1;
}
.playbar {
  position: fixed;
  bottom: 20px;
  filter: invert(1);
  background-color: #dad5d5;
  width: 67%;
  padding: 12px;
  border-radius: 10px;
  height: 40px;
}
.playbar .song-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.seekbar {
  height: 2px;
  width: 98%;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  border-radius: 10px;
  border: 2px solid #000000;
}
.circle {
  background: black;
  width: 14px;
  height: 14px;
  border-radius: 13px;
  position: relative;
  bottom: 6px;
  left: 0%;
  transition: left 0.5s;
}
.playbar .bar{
    display: flex;
    justify-content: space-between;
}
.bar #info{
    color: rgb(0, 0, 0);
}
.bar #duration{
    color: rgb(0, 0, 0);
}